/* 公共头部 */
.nav {
    width: 100%;
    background-color: gainsboro;
    margin-bottom: 15px;
}

.nav ul li {
    justify-self: center;
    padding: 5px 15px;
    font-size: 14px;
}

.nav ul {
    display: flex;
    margin: 5px 30px;

}

.nav li a {
    color: black;
    text-decoration: none;
}

.nav li a:hover {
    color: white;
}